<h2>Installation Instructions</h2>
<div>
  <h3>Softwares</h3>
  <ul>
    <li><a target="blank" href="https://nodejs.org/en/">NodeJS (Web Server)</a></li>
    <li><a target="blank" href="https://www.mongodb.com/">MongoDB (Database)</a></li>
  </ul>
  <h3>Start mongodb in a separate shell</h3>
  <p>In Windows operating system we can start it by opening the following file</p>
  <prism-block [code]="mongo" [language]="'javascript'"></prism-block>

  <h3>Run the following 2 commands</h3>
  <p>This will install the required node dependencies and start the Server at <a target="blank" href="http://localhost:4200">http://localhost:4200</a></p>
  <prism-block [code]="cli" [language]="'javascript'"></prism-block>
</div>