<h4>Installation Instructions</h4>
<div>
  <h3>Requirements</h3>
  <p>We need <a href="https://nodejs.org/en/">Node (To create web server)</a> + <a href="https://git-scm.com/">Git (Version Control System)</a>    + <a href="https://www.mongodb.com/">MongoDB (Database)</a> + <a href="https://www.python.org/downloads/release/python-2710/">Python 2.7</a>
    <br/> Go ahead <b>download and install</b> them</p>
  Install <a href="http://landinghub.visualstudio.com/visual-cpp-build-tools">Visual C++ Build Tools</a> using the Default
  Install option. <br/> Run the following commands (Required Once) [
  <b>Note:</b> Second command is required only for Windows]<br/>
  <!--<ng-prism class="language-javascript">npm config set python python2.7 npm config set msvs_version 2015</ng-prism>-->
  <p>We need to start an instance of MongoDB. In my case it was sitting @
    <prism-block>
      C:\Program Files\MongoDB\Server\3.2\bin\mongod.exe
    </prism-block>
  </p>
</div>