<h2>Features Overview</h2>
<div class="row">
  <md-card *ngFor="let f of newFeatures">
    <md-card-title> {{f.h2}} </md-card-title>
    <md-card-subtitle>{{f.p}}</md-card-subtitle>
  </md-card>

  <!--<md-toolbar layout="row" class="md-hue-3">
    <div class="md-toolbar-tools">
      <span>Store Front Features</span>
    </div>
  </md-toolbar>
  <div layout="row" layout-wrap>
    <md-card *ngFor="let f in storeFrontFeatures">
      <md-card-title>
        <h2>{{f.h2}}</h2>
      </md-card-title>
      <md-card-content>
        <p>{{f.p}}</p>
      </md-card-content>
    </md-card>
  </div>

  <md-toolbar layout="row" class="md-hue-3">
    <div class="md-toolbar-tools">
      <span>Store Back Office Features</span>
    </div>
  </md-toolbar>
  <div layout="row" layout-wrap>
    <md-card *ngFor="let f in storeBackFeatures">
      <md-card-title>
        <h2>{{f.h2}}</h2>
      </md-card-title>
      <md-card-content>
        <p>{{f.p}}</p>
      </md-card-content>
    </md-card>
  </div>

  <md-toolbar layout="row" class="md-hue-3">
    <div class="md-toolbar-tools">
      <span>Future</span>
    </div>
  </md-toolbar>
  <div layout="row" layout-wrap>
    <md-card *ngFor="let f in future">
      <md-card-title>
        <h2>{{f.h2}}</h2>
      </md-card-title>
      <md-card-content>
        <p>{{f.p}}</p>
      </md-card-content>
    </md-card>-->
  <!--</div>-->
</div>