<h4>Server Settings</h4>
<md-divider></md-divider><br/>
<p>Path: <em>server/config.ts</em></p>
<h3 md-line> Website Settings</h3>
<prism-block [code]="siteSettings" [language]="'javascript'"></prism-block>
<h3 md-line> Review Settings</h3>
<prism-block [code]="reviewSettings" [language]="'javascript'"></prism-block>
<h3 md-line> Product Settings</h3>
<prism-block [code]="productSettings" [language]="'javascript'"></prism-block>
<h3 md-line> User Roles</h3>
<prism-block [code]="userRoles" [language]="'javascript'"></prism-block>
<h3 md-line> Forgot Password Email Settings</h3>
<prism-block [code]="forgotPasswordEmail" [language]="'javascript'"></prism-block>
<h3 md-line> Reset Password Email Settings</h3>
<prism-block [code]="resetPasswordEmail" [language]="'javascript'"></prism-block>
<h3 md-line> Order Placed Email Settings</h3>
<prism-block [code]="orderPlacedEmail" [language]="'javascript'"></prism-block>
<h3 md-line> Order Updated Email Settings</h3>
<prism-block [code]="orderUpdatedEmail" [language]="'javascript'"></prism-block>