<h2>Server Settings</h2>
<md-divider></md-divider><br/>
<p>Path: <em>server/config.ts</em></p>
<h3 md-line> Website Settings</h3>
<prism-highlight [language]="'javascript'">
    {{siteSettings}}
</prism-highlight>
<h3 md-line> Review Settings</h3>
<prism-highlight [language]="'javascript'">
    {{reviewSettings}}
</prism-highlight>
<h3 md-line> Product Settings</h3>
<prism-highlight [language]="'javascript'">
    {{productSettings}}
</prism-highlight>
<h3 md-line> User Roles</h3>
<prism-highlight [language]="'javascript'">
    {{userRoles}}
</prism-highlight>
<h3 md-line> Forgot Password Email Settings</h3>
<prism-highlight [language]="'javascript'">
    {{forgotPasswordEmail}}
</prism-highlight>
<h3 md-line> Reset Password Email Settings</h3>
<prism-highlight [language]="'javascript'">
    {{resetPasswordEmail}}
</prism-highlight>
<h3 md-line> Order Placed Email Settings</h3>
<prism-highlight [language]="'javascript'">
    {{orderPlacedEmail}}
</prism-highlight>
<h3 md-line> Order Updated Email Settings</h3>
<prism-highlight [language]="'javascript'">
    {{orderUpdatedEmail}}
</prism-highlight>