<h2>Client Settings</h2>
<md-divider></md-divider><br/>
<p>Path: <em>client/app/settings.ts</em></p>
<h3 md-line>Enable / Disable demo mode</h3>
<p>Restricts users from saving data if enabled</p>
<prism-highlight [code]="demo" [language]="'javascript'"></prism-highlight>
<h3 md-line>List of order status for Order Management</h3>
<prism-highlight [code]="orderStatus" [language]="'javascript'"></prism-highlight>
<h3 md-line>Enabled Payment Methods for ecommerce</h3>
<prism-highlight [code]="paymentMethods" [language]="'javascript'"></prism-highlight>
<h3 md-line>Regional Settings</h3>
<prism-highlight [code]="regionalSettings" [language]="'javascript'"></prism-highlight>
<h3 md-line>Menu for Dashboad and Header</h3>
<prism-highlight [code]="menu" [language]="'javascript'"></prism-highlight>