<h2>Client Settings</h2>
<md-divider></md-divider><br/>
<p>Path: <em>client/app/settings.ts</em></p>
<h3 md-line>Enable / Disable demo mode</h3>
<p>Restricts users from saving data if enabled</p>
<prism-highlight [language]="'javascript'">
    {{demo}}
</prism-highlight>
<h3 md-line>List of order status for Order Management</h3>
<prism-highlight [language]="'javascript'">
    {{orderStatus}}
</prism-highlight>
<h3 md-line>Enabled Payment Methods for ecommerce</h3>
<prism-highlight [language]="'javascript'">
    {{paymentMethods}}
</prism-highlight>
<h3 md-line>Regional Settings</h3>
<prism-highlight [language]="'javascript'">
    {{regionalSettings}}
</prism-highlight>
<h3 md-line>Menu for Dashboad and Header</h3>
<prism-highlight [language]="'javascript'">
    {{menu}}
</prism-highlight>